/*Variabler*/
$header-color: #463130; 
$header-text-color: #fff;
$overskrifter: #AE9D81;
$text-color: black;   
$base-font-size: 18px;

/*Mixins*/
@mixin flexbox($columns: 2, $gap: 20px) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-between;
  margin-bottom: 3em;
}
